.portfolio-item {
	margin-bottom: 5px;
	margin-top: 5px;
}

.typeMagazine-background {
	background: -webkit-linear-gradient(left top, #71c5e3, #5bb9de);
  /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #71c5e3, #5bb9de);
  /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #71c5e3, #5bb9de);
  /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #71c5e3, #5bb9de);
  /* Standard syntax */;
}

.typeReadBook-background {
	background: -webkit-linear-gradient(left top, #c8d442, #bdd046);
  /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #c8d442, #bdd046);
  /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #c8d442, #bdd046);
  /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #c8d442, #bdd046);
  /* Standard syntax */;
}

.typeAudioBook-background {
	background: -webkit-linear-gradient(left top, #edd731, #ecc13c);
  /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #edd731, #ecc13c);
  /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #edd731, #ecc13c);
  /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #edd731, #ecc13c);
  /* Standard syntax */;
}

.typeComic-background {
	background: -webkit-linear-gradient(left top, #f0b165, #f0a15f);
  /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #f0b165, #f0a15f);
  /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #f0b165, #f0a15f);
  /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #f0b165, #f0a15f);
  /* Standard syntax */;
}

.typeFiction-background {
	background: -webkit-linear-gradient(left top, #ea9e9c, #e57f81);
  /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #ea9e9c, #e57f81);
  /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #ea9e9c, #e57f81);
  /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #ea9e9c, #e57f81);
  /* Standard syntax */;
}

.typeMusic-background {
	background: -webkit-linear-gradient(left top, #bfbfbf, #bfbfbf);
  /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #bfbfbf, #bfbfbf);
  /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #bfbfbf, #bfbfbf);
  /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #bfbfbf, #bfbfbf);
  /* Standard syntax */;
}

.book-store-background {
	background: -webkit-linear-gradient(left top, #c6d14f, #bdd046);
  /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #c6d14f, #bdd046);
  /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #c6d14f, #bdd046);
  /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #c6d14f, #bdd046);
  /* Standard syntax */;
}

.no-gutter {
	margin-left: 5px;
	margin-right: 5px;
}

.no-gutter [class*="-3"] {
	padding-left: 5px;
	padding-right: 5px;
}

footer {
	text-align: center;
	margin: 50px 0;
}

.main-page-cate {
	background: #EEEEEE;
}

.three-buy-type,
.main-guess-you-like,
.bookshelf-scroll-container {
	padding-top: 10px;
}

.main-symbol {
	padding-top: 10px;
}

.main-symbol .thumbnail {
	border: 0px;
}

.main-symbol .thumbnail img {
	width: 100%;
	height: auto;
}

a.common-a {
	text-decoration: none;
}

.img-container {
	position: relative;
}

.img-container img {
	height: 100%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.img-container .img-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 10px;
	height: 30%;
	width: 100%;
	color: #fff;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.5);
}

.book-store-home-carousel-inner {
	position: relative;
}

.book-store-home-carousel-inner .item {
	width: 100%;
	height: 300px;
}

.book-store-home-carousel-inner .item img {
	position: absolute;
	top: 50%;
	left: 50%;
      /* bring your own prefixes */
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
}

.book-store-home-carousel-holder {
	margin-bottom: 30px;
}

.book-store-home-carousel-holder .carousel-indicators li {
	background: #ccc;
}

.book-store-home-carousel-holder .carousel-indicators .active {
	background: #666;
}

.carousel-control {
	border-radius: 5px;
}

.empty-container {
	position: relative;
	height: 300px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.empty-container .img-footer {
	text-align: center;
}

.section-modal {
	padding-top: 50px;
	position: fixed;
	font-family: Arial,
 Helvetica,
 sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 3;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	overflow: scroll;
}

.section-modal:target {
	opacity: 1;
	pointer-events: auto;
}

.section-modal .modal-content {
	padding: 50px 0 !important;
	min-height: 100%;
	border: 0 !important;
	border-radius: 0;
	background-clip: border-box;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	color: #888;
	font-weight: 300;
}

.section-modal .modal-content .media .item-content {
	padding-left: 20px;
	position: relative;
	min-height: 220px;
}

.section-modal .modal-content .media .item-content .tryit {
	position: absolute;
	bottom: 0;
}

.section-modal .modal-content .media .item-image {
	padding-left: 20px;
}

.section-modal .close-modal {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 50px;
	height: 50px;
	background-color: transparent;
	cursor: pointer;
}

.section-modal .close-modal:hover {
	opacity: .3;
}

.section-modal .close-modal .lr {
	z-index: 1051;
	width: 1px;
	height: 50px;
	margin-left: 35px;
	background-color: #222;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.section-modal .close-modal .lr .rl {
	z-index: 1052;
	width: 1px;
	height: 50px;
	background-color: #222;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.non-display {
	display: none;
}

#SignInWrapper {
	margin: 1px;
}

#SignInWrapper #gplus-customBtn {
	display: inline-block;
	background: #dd4b39;
	color: white;
	width: 49%;
	border-radius: 5px;
	white-space: nowrap;
}

#SignInWrapper #gplus-customBtn :hover {
	background: #e74b37;
	cursor: pointer;
}

#SignInWrapper #gplus-customBtn span.buttonText {
	display: inline-block;
	vertical-align: middle;
	padding-right: 2px;
	font-size: 14px;
	font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
	font-family: 'Roboto', arial, sans-serif;
}

#SignInWrapper #gplus-customBtn span.icon {
	background: url(http://localhost/angular2-frontend/base/google-plus.png) transparent 50% no-repeat;
	background-size: 35px 35px;
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 35px;
	border-right: #bb3f30 1px solid;
}

#SignInWrapper #fb-customBtn {
	display: inline-block;
	background: #3399ff;
	color: white;
	width: 49%;
	border-radius: 5px;
	white-space: nowrap;
}

#SignInWrapper #fb-customBtn :hover {
	background: #e74b37;
	cursor: pointer;
}

#SignInWrapper #fb-customBtn span.buttonText {
	display: inline-block;
	vertical-align: middle;
	padding-right: 2px;
	font-size: 14px;
	font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
	font-family: 'Roboto', arial, sans-serif;
}

#SignInWrapper #fb-customBtn span.icon {
	background: url(http://localhost/angular2-frontend/base/google-plus.png) transparent 50% no-repeat;
	background-size: 35px 35px;
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 35px;
	border-right: #bb3f30 1px solid;
}

.mc-container {
	position: relative;
	height: 0;
	padding-bottom: calc(100% - 5px);
	margin-bottom: 2.2em;
}

.mc-container .img-container-bookshelf {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.mc-container .img-container-bookshelf img {
	display: block;
	width: auto;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.mc-container .img-container-bookshelf .book-name {
      /* Make the caption a block so it occupies its own line. */
	text-align: center;
	display: block;
	color: #000;
}

.mc-container .img-container-bookshelf .img-footer-bookshelf {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
	height: 30%;
	width: 100%;
	color: #fff;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.7);
}

.transaction-modal {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 4;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	overflow: scroll;
}

.transaction-modal .transaction-content {
	position: relative;
	background-color: #fff;
	padding: 60px 0 !important;
	min-height: 100%;
	border: 0 !important;
	border-radius: 0;
	background-clip: border-box;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	color: #888;
	font-weight: 300;
}

.transaction-modal .transaction-content .media .item-content {
	padding-left: 20px;
	position: relative;
	min-height: 220px;
}

.transaction-modal .transaction-content .media .item-content .tryit {
	position: absolute;
	bottom: 0;
}

.transaction-modal .transaction-content .media .item-image {
	padding-left: 20px;
}

.transaction-modal .close-modal {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 50px;
	height: 50px;
	background-color: transparent;
	cursor: pointer;
}

.transaction-modal .close-modal:hover {
	opacity: .3;
}

.transaction-modal .close-modal .lr {
	z-index: 1051;
	width: 1px;
	height: 50px;
	margin-left: 35px;
	background-color: #222;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.transaction-modal .close-modal .lr .rl {
	z-index: 1052;
	width: 1px;
	height: 50px;
	background-color: #222;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.search-item-outside-even,
.search-item-outside-even {
	position: relative;
	min-height: 100px;
}

.search-item-outside-even img,
  .search-item-outside-even img {
	height: 100%;
	width: auto;
}

.search-item-outside-even .show-item-group,
  .search-item-outside-even .show-item-group {
	position: absolute;
	bottom: 0;
}

.search-item-outside-even .show-item-group .search-result-icon,
    .search-item-outside-even .show-item-group .search-result-icon {
	width: 33px;
	height: 33px;
}

.jp-audio,
.chapter-selector {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.nav-tabs > li.active > a,
li > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	border-color: #DDDDDD #DDDDDD #48BE24;
}