<div id="top-menu">
	<div class="login-logo">
		<img src="http://localhost/angular2-frontend/base/acer-white.png" alt="">
	</div>
</div>
<div>
	<div class="container" style="position:fixed;top:150px;width:100%;">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-panel panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Please Sign In</h3>
					</div>
					<div class="panel-body">
						<form role="form">
							<fieldset>
								<div class="form-group">
									<input class="form-control user-account" placeholder="account" name="account" type="text" autofocus>
								</div>
								<div class="form-group">
									<input class="form-control user-password" placeholder="Password" name="password" type="password" value="">
								</div>
								<div class="checkbox">
									<label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
								</div>
								<!-- Change this to a button or input when using this as a form -->
								<a class="btn btn-lg btn-success btn-block login-btn" routerLink='/main-menu' routerLinkActive='active' (click)='loginCheck()'>Login</a>
								<!--<div class="row">
									<div class="col-md-6">

										<div id="SignInWrapper">
											<a id="gplus-customBtn" class="customGPlusSignIn">
												<span class="icon"></span>
												<span class="buttonText">Google</span>
											</a>
											<a id="fb-customBtn" class="customGPlusSignIn">
												<span class="icon"></span>
												<span class="buttonText">FB</span>
											</a>
										</div>
									</div>
								</div>-->
								<!--
                                <span id="signinButton">
                                  <span
                                    class="g-signin"
                                    data-callback="signinCallback"
                                    data-clientid="807246613732-89t4aptrhggtum75uqjtoetri3pda88f.apps.googleusercontent.com"
                                    data-cookiepolicy="single_host_origin"
                                    data-requestvisibleactions="http://schemas.google.com/AddActivity"
                                    data-width ="wide"
                                    data-scope="https://www.googleapis.com/auth/plus.login">
                                  </span>
                                </span>
                                -->
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>