<!--<button type="button" class="btn btn-primary" (click)="showChildModal()">Open child modal</button>-->

<div *ngIf="loginCheck">
	<div bsModal #childModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<!--<button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
			<span aria-hidden="true">&times;</span>
			</button>-->
					<h4 class="modal-title">尚未登入</h4>
				</div>
				<div class="modal-body">
					請重新登入.
				</div>
				<div style="text-align:center;">
					<!--<button type="button" class="btn btn-primary" (click)="hideChildModal()">確認</button>-->
					<button type="button" class="btn btn-primary" routerLink='/login' routerLinkActive='active' (click)="checkInit()">確認</button>
					<!--<button type="button" class="btn btn-danger" routerLink='/login' routerLinkActive='active'>取消</button>-->
				</div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="uploadCheck">
	<div bsModal #childModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">上傳檔案</h4>
				</div>
				<div class="modal-body" style="text-align:center;">
					<i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>上傳中，請稍後。
				</div>
			</div>
		</div>
	</div>
</div>