<div id="top-menu">
	<div class="main-menu-logo">
		<img src="http://localhost/angular2-frontend/base/acer-white.png" alt="">
	</div>
	<user-menu></user-menu>
</div>
<div style="margin-top:60px;">
	<!--<div>
		<a routerLink='/main-menu-list' routerLinkActive='active'>
			<button (click)='studentMenuList()'>學生</button>
		</a>
	</div>
	<div>
		<a routerLink='/main-menu-list' routerLinkActive='active'>
			<button (click)='teacherMenuList()'>教師</button>
		</a>
	</div>-->
	<div class="container">
		<div class="main-page-cate">
			<!-- Projects Row -->
			<div class="row no-gutter">
				<div class="col-xs-3 portfolio-item ">
					<a routerLink='/main-menu-list' routerLinkActive='active' class='typeMagazine' (click)='studentMenuList()'>
						<div class='img-container typeMagazine-background'>
							<img class="img-responsive" src="http://localhost/angular2-frontend/base/NIU_mark.jpg" alt="">
							<div class='img-footer'>
								<p class="type-magazine-text">學生</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-3 portfolio-item">
					<a routerLink='/main-menu-list' routerLinkActive='active' class='typeReadBook' (click)='teacherMenuList()'>
						<div class='img-container typeReadBook-background'>
							<img class="img-responsive" src="http://localhost/angular2-frontend/base/NIU_mark.jpg" alt="">
							<div class='img-footer'>
								<p class="type-readBook-text">教師</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-3 portfolio-item">
					<a class='typeAudioBook'>
						<div class='img-container typeAudioBook-background'>
							<img class="img-responsive" src="http://localhost/angular2-frontend/base/NIU_mark.jpg" alt="">
							<div class='img-footer'>
								<p class="type-audioBook-text"></p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-3 portfolio-item">
					<a class='typeComic'>
						<div class='img-container typeComic-background'>
							<img class="img-responsive" src="http://localhost/angular2-frontend/base/NIU_mark.jpg" alt="">
							<div class='img-footer'>
								<p class="type-comic-text"></p>
							</div>
						</div>
					</a>
				</div>
				<!--   
            </div>
            -->
				<!-- /.row -->
				<!-- Projects Row -->
				<!--
            <div class="row">
            -->
				<div class="col-xs-3 portfolio-item">
					<a class='typeFiction'>
						<div class='img-container typeFiction-background'>
							<img class="img-responsive" src="http://localhost/angular2-frontend/base/NIU_mark.jpg" alt="">
							<div class='img-footer'>
								<p class="type-fiction-text"></p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-3 portfolio-item">
					<a class='typeMusic' disabled="disabled">
						<div class='img-container typeMusic-background'>
							<img class="img-responsive" src="http://localhost/angular2-frontend/base/NIU_mark.jpg" alt="">
							<div class='img-footer'>
								<p class="type-music-text"></p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-3 portfolio-item">
					<a  class="book-store">
						<div class='img-container book-store-background'>
							<img class="img-responsive" src="http://localhost/angular2-frontend/base/NIU_mark.jpg" alt="">
							<div class='img-footer'>
								<p class="type-book-store-text"></p>
							</div>
						</div>
					</a>
				</div>
			</div>
			<!-- /.row -->
		</div>
	</div>
</div>