#menu {
  width:10%;
  float:left;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  clear: both;
  background-color: #FFA500;
  text-align: center;
  z-index: 1000;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #4e575f;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}