<div style="margin-top:15px;">
  <p-fieldset [legend]="chartTitle">
    <!--<h3>[{{chartTitle}}]</h3>-->
    <div>
      篩選條件：{{filterString}}
    </div>
    <div style="display: block">
      <canvas baseChart width="600" height="400"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </p-fieldset>
</div>