<div id="top-menu">
	<div class="title">
		<img src="http://localhost/angular2-frontend/base/acer-white.png">
	</div>

	<div id="mobile-main-menu" (click)="toggle()">
		<img src="http://localhost/angular2-frontend/base/menu-left.svg" alt="">
	</div>
	<div>
		<user-menu></user-menu>
	</div>
</div>
<div id="main-menu">
	<div class="main-menu-container">
		<!--<div class="menu-content" *ngIf="routes && routes.length">
			<div class="section">
			</div>
			<div class="section" *ngFor="let route of routes" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
				<a [routerLink]="[route.path]">
					<h3>{{route.path}}</h3>
				</a>
			</div>
		</div>-->
		<div class="menu-content">
			<div class="section" *ngFor="let menu of menuList">
				<h3 (click)="onMenuListSelected(menu)">{{menu}}</h3>
			</div>
		</div>
	</div>
</div>
<div id="main">
	<div class="main-content">
		<h1>{{identity}}:{{function}}</h1>
		<h2>學生基本資料</h2>
		<div style="width:50%;float:left;clear:both;" *ngFor="let menuList of basicInformation">
			<h3>{{menuList.label}}</h3>
			<ng-select
				[options]='menuList.option'
				[placeholder]='projectName'
				[multiple]=true
				theme='default'
				(selected)="onMultipleSelected($event, menuList)"
				(deselected)="onMultipleDeselected($event, menuList)">
			</ng-select>
		</div>
		<div style="float:left;clear:both;">
			<h3>已選擇條件:</h3>
			<!--<div *ngFor="let table of showCharts">{{table}}</div>-->
		</div>
		<hr>
		<div style="float:left;clear:both;">
			<p-selectButton [options]="types" [(ngModel)]="selectedType" (click)="onSelectedChart(selectedType)"></p-selectButton>
			<!--<p>Selected Type: {{selectedType}}</p>-->
		</div>
		<div style="float:left;clear:both;" *ngIf="barChart"><div *ngFor="let chart of showCharts"><bar-chart [chartTitle] = "chart"></bar-chart></div></div>
		<div style="float:left;clear:both;" *ngIf="doughnutChart"><div *ngFor="let chart of showCharts"><doughnut-chart [chartTitle] = "chart"></doughnut-chart></div></div>
		<div style="float:left;clear:both;" *ngIf="lineChart"><div *ngFor="let chart of showCharts"><line-chart [chartTitle] = "chart"></line-chart></div></div>
		<hr>
	</div>
</div>