<div id="top-menu">
	<div class="navbar-top-links">
		<user-menu></user-menu>
	</div>
	<div id="mobile-main-menu" (click)="toggle()">
		<img src="http://localhost/angular2-frontend/base/menu-left.svg" alt="">
	</div>
	<div class="title">
		<img src="http://localhost/angular2-frontend/base/acer-white.png">
	</div>
</div>
<div id="main-menu">
	<div class="main-menu-container">
		<!--<div class="menu-content" *ngIf="routes && routes.length">
			<div class="section">
			</div>
			<div class="section" *ngFor="let route of routes" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
				<a [routerLink]="[route.path]">
					<h3>{{route.path}}</h3>
				</a>
			</div>
		</div>-->
		<div class="menu-content">
			<div class="section" *ngFor="let menu of menuList">
				<h3 (click)="onMenuListSelected(menu)">{{menu}}</h3>
			</div>
		</div>
	</div>
</div>
<div id="main">
	<div class="main-content">
		<h1>{{identity}}:{{function}}</h1>
		<div *ngFor="let table of allTable">
			<h2>{{table}}</h2>
			<div style="width:50%;float:left;clear:both;" *ngFor="let column of basicInformation | keys">
				<h3><i class="fa fa-bars" aria-hidden="true"></i> {{column}}</h3>
				<ng-select
					[options]='createSelectOption(column)'
					[placeholder]='projectName'
					[multiple]=true
					theme='default'
					(selected)="onMultipleSelected($event, column)"
					(deselected)="onMultipleDeselected($event, column)">
				</ng-select>
			</div>
		</div>
		<div style="width:8%;float:left;clear:both;margin-top:10px"><p>已選擇條件:</p></div>
		<div style="width:92%;float:right;margin-top:10px"><p>{{selectFilterString}}</p></div>
		<hr>
		<div style="float:left;clear:both;">
			<p-selectButton [options]="types" [(ngModel)]="selectedType" (click)="onSelectedChart(selectedType)"></p-selectButton>
		</div>
		<div style="float:left;clear:both;" *ngIf="barChart"><div *ngFor="let chart of showCharts"><bar-chart [chartTitle] = "chart" [filter] = "selectFilter"></bar-chart></div></div>
		<div style="float:left;clear:both;" *ngIf="doughnutChart"><div *ngFor="let chart of showCharts"><doughnut-chart [chartTitle] = "chart" [filter] = "selectFilter"></doughnut-chart></div></div>
		<div style="float:left;clear:both;" *ngIf="lineChart"><div *ngFor="let chart of showCharts"><line-chart [chartTitle] = "chart" [filter] = "selectFilter"></line-chart></div></div>
		<div style="float:left;clear:both;" *ngIf="radarChart"><div *ngFor="let chart of showCharts"><radar-chart [chartTitle] = "chart" [filter] = "selectFilter"></radar-chart></div></div>
		<div style="float:left;clear:both;" *ngIf="pieChart"><div *ngFor="let chart of showCharts"><pie-chart [chartTitle] = "chart" [filter] = "selectFilter"></pie-chart></div></div>
		<div style="float:left;clear:both;" *ngIf="polarAreaChart"><div *ngFor="let chart of showCharts"><polar-area-chart [chartTitle] = "chart" [filter] = "selectFilter"></polar-area-chart></div></div>
		<hr>
	</div>
</div>
<div *ngIf="!loginCheck"><common-check></common-check></div>